/* Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url("../img/assets/bg2.svg");
  background-position-x: center;
  background-position-y: -715px; /*55.6%;*/
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  /*border: 1px solid red;*/
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  /*border: 1px solid red;*/
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  /*border: 1px solid red;*/
  padding: 32px 23px;
  text-align: center;

  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}

.card h2 {
  display: flex;
  border: 1px solid #746615;
  padding: 8px 16px;
  border-radius: 6px;
  gap: 16px;
  justify-content: center;
  color: #f7dd43;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}


/* Hover, scale */
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

/* Animated */
.card {
    animation: appear .2s;
}

.card:nth-child(1) {
    animation-delay: 1s;
}
.card:nth-child(2) {
    animation-delay: 2s;
}
.card:nth-child(3) {
    animation-delay: 3s;
}

@keyframes appear {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}








/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
